<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-target="#navbarColor01" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Finance And Tax", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">COA Management</a>
                        <div class="dropdown-menu" style="left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 45px, 0px);" x-placement="bottom-start">
                            @Html.ActionLink("COA", "Index", "COAManager", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("COA Attachment", "Index", "COAAttachmentManager", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("COA Level", "Index", "COALevelManager", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("COA ReportType", "Index", "COAReportTypeManager", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Solusi Prima Syndicate . Finance And Tax Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
